<style>
  @media (max-width: 768px) {
    .a1 {
      padding: 0.5rem 1rem;
      text-align: left;
      max-width: 200px; /* Ensures search bar + logo + burger fit cleanly */
    }
    .search-btn {
      padding: 0 0.75rem;
    }
    .search-btn span {
      display: none; /* Hides "Search" text on mobile to save space */
    }
  }
</style>
<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
  <h1 class="col-12 col-md-8 col-lg-6 offset-0 offset-md-2 offset-lg-3">
    Login
  </h1>
  <div class="col-12 col-md-8 col-lg-6 offset-0 offset-md-2 offset-lg-3">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          required
        />
      </div>
      <button class="btn btn-success">Login</button>
    </form>
    <br /><br />
    <h6>
      Don't have a account?,
      <a style="text-decoration: none" href="/signup">SignUp</a>
    </h6>
  </div>
</div>
